<html>

<head>
    <title>Forgot Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: gray;
        }

        .loginbox {
            border-radius: 20px;
            background: #ffffff;
            top: 50%;
            left: 50%;
            padding: 20px;
            width: 400px;
            height: 420px;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <div class="container loginbox">
        <h1 align="center">Verify OTP</h1>
        <% if (typeof error1 !=='undefined' && error1.length> 0) { %>
            <div class="alert alert-danger">
                <%= error1 %>
            </div>
            <% } %>
                <form action="verifyotp" method="post">
                    <div class="form-group">
                        <label for="username">OTP:</label>
                        <input type="text" class="form-control" name="otp" id="userid" placeholder="Enter The OTP">

                    </div>

                    <button type="submit" class="btn btn-success">Verify</button>
    </div>

    </form>


    </div>
</body>

</html>